body {
    position: relative;
    background-color:#fff;
    height:100%;
}
img.loader {
    margin-left: -12px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: visible
}