body {
    position: relative;
    background-color:#fff;
}
.bg_container {
    position: relative;
}
img.loader {
    margin-left: -12px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: visible
}
.keypress_detector {
    width: 0;
    height: 0;
    position: absolute ;
    left: -9999px
}